
config.js
node_modules/*
.vscode/*
public/app.js
public/app.js.map
public/taisto-companion.zip
saves/*
debug.log
database.json
database/*.sqlite
database/*.sqlite-*
database/database.pre-sqlite-backup.*.json
database/database-export-*.json
database/*.log
npm-debug.log*
