{
  "passPerPreset": true,
  "plugins": [
    "transform-runtime",
	"transform-async-to-generator"
  ],
  "presets": [
    {
      "plugins": [
		  "transform-async-to-generator"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}